/*

.genre-row
.genre-row::before
.genre-title
.genre-title::before
.movie-row-container
.scroll-arrow
.scroll-arrow-left
.scroll-arrow-right
.movie-row-container:hover .scroll-arrow
.scroll-arrow:hover
.movie-row-scroll
.movie-row-scroll::-webkit-scrollbar
+ All the responsive media queries for genre-title

*/