/* Genre Row Styles */

.genre-row {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/* Fade-out gradient at edges of genre row */
.genre-row::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right, var(--background-color) 0%, transparent 5%, transparent 95%, var(--background-color) 100%);
}

.genre-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0 1rem 0 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

.genre-title::before {
    content: '';
    position: absolute;
    left: 0;
    width: .5rem;
    height: 24px;
    background: var(--accent-color);
    border-radius: 5rem;
}

/* Movie Row Container with Arrows */
.movie-row-container {
    position: relative;
}

/* Scroll Arrow Buttons */
.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(102, 102, 102, 0);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, background 0.3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-arrow-left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.26), transparent);
    padding-left: 0.5rem;
    padding-right: .5rem;
}

.scroll-arrow-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.26), transparent);
    padding-right: 0.5rem;
    padding-left:.5rem;
}

.movie-row-container:hover .scroll-arrow {
    opacity: 1;
}

.scroll-arrow:hover {
    backdrop-filter: blur(4px) saturate(112%);
    -webkit-backdrop-filter: blur(4px) saturate(112%);
    background-color: rgba(26, 26, 26, 0.267);
}

/* Horizontal Scroll Container */
.movie-row-scroll {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-left: .5rem;
    padding-right: .5rem;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.movie-row-scroll::-webkit-scrollbar {
    display: none;
}

/* Responsive Design */
@media (min-width: 768px) {
    .genre-title {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    .scroll-arrow-left{
        padding-left: 0.5rem;
        padding-right: 2rem;
    }

    .scroll-arrow-right{
        padding-left: 0.5rem;
        padding-right: 2rem;
    }
}

@media (min-width:1024px) {
    .genre-title {
        margin-left: 3rem;
    }
}

@media (min-width:1440px) {
    .genre-title {
        margin-left: 5rem;
        margin-bottom: 1rem;
    }
}