/*
Store the following items here:
.movie-card
.movie-poster-container
.movie-posters
.movie-overlay
.movie-poster-container:hover .movie-overlay
.overlay-content
.overlay-title
.overlay-rating
.star-icon
.overlay-date
.overlay-overview
.movie-title
*/